<div class="card text-center">
       
        <div class="card-body mt-5 pb-5 mb-5 bg-success" style="color:white;">
          <h5 class="card-title pt-5 ">Home Page</h5>
          <p class="card-text">This is your login page you are successfully login to the website.</p>
          <a href="/user/logout">
          <button type="submit" class="btn btn-danger">Log out</button>
          </a>
        
        </div>
      </div>
